html {box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}

body {
  margin:0;
  padding:0;
}

h1 {
  color:blue;
}

#users{
  display: flex;
  flex-wrap: wrap;
}

a {

}

#users li {
  width: 250px;
}

#users li span {

}

.name {

}
