html {box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}

body {
  margin:0;
  padding:15px;
}

h1 {
  color:blue;
}

#users{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

a {
  color: inherit;
}

#users li {
  width: 250px;
  padding: 3px;
}

#users li span {
  display: block;
}

.name {
  font-weight: bold;
  color: blue;
}
